/* ---------------------MOBILE------------------------------- */
@media screen and (max-width: 427px) {
  .modal {
    width: calc(100% - 30px);
  }
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }

  .customers-item-link {
    width: 190px;
  }

  .footer-input {
    width: 398px;
  }

  .mob-tel-link {
    font-size: 36px;
  }

  .mob-socials-list {
    gap: 56px;
  }
}
/* ---------------------TABLET------------------------------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .header-logo {
    margin-right: 120px;
  }

  .header-menu-list {
    display: flex;
  }

  .header-address-list {
    display: flex;
  }

  .menu-open-btn {
    display: none;
  }

  .header-menu-list {
    gap: 40px;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .advantages-list {
    gap: 72px 24px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-subtitle {
    text-align: left;
  }

  .team > .container {
    max-width: 582px;
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .customers > .container {
    max-width: 582px;
  }

  .customers-list {
    gap: 72px 24px;
  }

  .customers-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .customers-item-link {
    width: 168px;
  }

  .footer > .container {
    max-width: 582px;
  }

  .container-footer {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
  }

  .container-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 24px;
  }

  .container-socials {
  }

  .footer-subtitle {
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .hero-btn {
    margin-top: 36px;
  }

  .portfolio-menu {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .portfolio-apps-list {
    max-width: 600px;
    justify-content: center;
    margin: 0 auto;
  }

  .menu-btn {
    padding: 12px 24px;
  }

  .portfolio-menu-list {
    margin-top: 64px;
    gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
/* ---------------------DESKTOP------------------------------- */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }
  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-list {
    gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .advantages-item-top {
    display: flex;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--cloud);
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .advantages-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .advantages-item-text {
    font-weight: 400;
  }

  .projects {
    padding-bottom: 120px;
  }

  .projects {
    display: block;
    padding-bottom: 120px;
  }
  .projects-title {
    margin: 0 auto;
    margin-bottom: 72px;
  }
  .projects-list {
    display: flex;
    gap: 24px;
  }
  .projects-item {
    width: calc((100% - 2 * 24px) / 3);
  }
  .projects-img {
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team > .container {
    max-width: 1158px;
  }

  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .customers > .container {
    max-width: 1158px;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 5 * 24px) / 6);
  }

  .footer > .container {
    max-width: 1158px;
  }

  .container-logo {
    margin-right: 120px;
  }

  .container-subscribe {
    margin-left: 80px;
  }

  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }

  .hero-btn {
    margin-top: 48px;
  }

  .container-logo {
    margin-bottom: 0;
  }

  .footer-list {
    margin-bottom: 0;
  }

  .portfolio-menu {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .portfolio-apps-list {
    margin-bottom: 72px;
  }

  .portfolio-menu-list {
    gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
