@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .advantages-list {
    gap: 72px 24px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .advantages-list {
    gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .advantages-item-top {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--cloud);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .advantages-subtitle {
    text-align: start;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .advantages-item-text {
    font-weight: 400px;
  }
}
